body {
    font-family: Arial, sans-serif;
    background-color: #FFD09B;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.2rem;
}

label {
    font-size: 1rem;
}

button {
    color:white;
    background-color: #fd9797;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
}

button:hover {
    background-color: #fcb4b4;
}

textarea {
    height: 150px;
    resize: vertical;
}

h2 {
    margin-bottom: 10px;
}


div {
    text-align: center;
    background-color: #FFF7D1;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h4 {
    margin-bottom: 5px;
}
